<!-- <form>
     <div class="row"> -->
        <div class="card col-md-6 offset-md-3 offset-md-3">
            <!-- <div class="row"> -->
                <h3 class="text-center"> Add Patient</h3>
                <!-- <h3 class="text-center"> Upload File</h3> -->
                <!-- <hr />
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()"> -->
    
                        <!-- <div class="form-group">
                            <label> PatientId</label>
                            <input type="text" class="form-control" id="patientId" [(ngModel)]="patient.patientId" 
                            name="patientId">
                        </div> -->
    
                        <div class="form-group">
                            <label> PatientName</label>
                            <input type="text" class="form-control" id="patientName" [(ngModel)]="patient.patientName" 
                            name="patientName">
                        </div>
    
                        <div class="form-group">
                            <label> Address</label>
                            <input type="text" class="form-control" id="patientAddress" [(ngModel)]="patient.patientAddress" 
                            name="patientAddress">
                        </div>
    
                        <div class="form-group">
                            <label> PatientDOB</label>
                            <input type="text" class="form-control" id="patientDOB" [(ngModel)]="patient.patientDOB" 
                            name="patientDOB">
                        </div>
                        
                        <div class="form-group">
                            <label> PatientEmail</label>
                            <input type="text" class="form-control" id="patientEmail" [(ngModel)]="patient.patientEmail" 
                            name="patientEmail">
                        </div>
                        
                        <div class="form-group">
                            <label> PatientContactNumber</label>
                            <input type="text" class="form-control" id="patientContactNumber" [(ngModel)]="patient.patientContactNumber" 
                            name="patientContactNumber">
                        </div>
    
                        <div class="form-group">
                            <label> PatientDrugId</label>
                            <input type="text" class="form-control" id="patientDrugId" [(ngModel)]="patient.patientDrugId" 
                            name="patientDrugId">
                        </div>

                        <div class="form-group">
                            <label> PatientDrugName</label>
                            <input type="text" class="form-control" id="patientDrugName:string|any;" [(ngModel)]="patient.patientDrugName" 
                            name="patientDrugName">
                        </div>
                        
    
                       
                        <br />
                        <button class="btn btn-success" type="submit">Submit</button>
                       
    
                    <!-- </form> -->
                </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- </form> -->